.app-style {
  padding: 5px 10px;
}

.content {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.navigation {
  overflow: auto;
}

.section {
  overflow: auto;
}

.footer {
  /** Ensures that footer is always sticked to the bottom */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}